<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '928733271375063',
          xfbml      : true,
          version    : 'v12.0'
        });
        FB.AppEvents.logPageView();
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--  Facebook login  -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v12.0&appId=928733271375063&autoLogAppEvents=1" nonce="Xv1Ji51S"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Autenticação</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noticias">Notícias</a>
          </li>
          <!--SHOW Nav Item logado/nao logado-->
          <% if( locals.user ) { %>
            <% if( locals.role === 'restrito' ) { %>
             <!--Se logodo, mostra restritos -->
            <li class="nav-item">
              <a class="nav-link" href="/restrito/noticias">Notícias Restritas</a>
            </li> 
            <% } %>
            <% if( locals.role === 'admin' ) { %>
              <!--Se logodo, mostra restritos -->
             <li class="nav-item">
               <a class="nav-link" href="/admin/noticias">Notícias Admin</a>
             </li> 
             <% } %>
          <li class="nav-item dropdown">
            <!--SHOW user session-->
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.user.username || locals.user.name %></a>
               <!--SHOW user session-->
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <!--SHOW change roles -->
              <% if(locals.user.roles.length > 1) { %>
                <% locals.user.roles.forEach( role => { %>
                  <a class="dropdown-item" href="/change-role/<%= role %>"><%= role %></a>
                 <% }) %>
              <% } %>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </li>
          <% } else { %> 
          <li class="nav-item dropdown">
            <!--SHOW user session-->
            <li class="nav-item">
              <a class="nav-link" href="/login">Entrar</a>
            </li>
          </li>
          <% } %> 
           <!--SHOW Nav Item logado/nao logado-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">