<%- include('partials/header') %>

  <div class="starter-template text-center">
    <h1>Entrar</h1>
    <form class="form-signin" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Por favor, identifique-se</h1>
        <label for="inputUsername" class="sr-only">Usuário</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <a class="btn btn-lg btn-primary btn-block" href="/facebook">Entrar com Facebook</a>
        <a class="btn btn-lg btn-danger btn-block" href="/google">Entrar com Google</a>
        <!-- <div class="container text-center pt-5">
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div> -->
        <p class="mt-5 mb-3 text-muted">&copy; 2020 - 2021 </p>
      </form>
  </div>

  <%- include('partials/footer') %>