<%- include('../partials/header') %>
<!-- Gerencia todas as notícias -->
  <div class="starter-template">
    <h1>Notícias Admin</h1>
    <table>
        <% noticias.forEach( noticia => { %> 
            <tr>
                <td><%= noticia.title %></td>
            </tr>
            <%}) %>
    </table>
  </div>

  <%- include('../partials/footer') %>